<div class="basic-container">
  <mat-menu #subMenu="matMenu">
    <button mat-menu-item routerLink="/custom-pipe" routerLinkActive="active">Custom directive</button>
    <button mat-menu-item routerLink="/async-pipe" routerLinkActive="active">Async pipe</button>
  </mat-menu> 
  
  <mat-menu #subBackendMenu="matMenu">
    <button mat-menu-item routerLink="/users" routerLinkActive="active">Users list</button>
  </mat-menu> 
  
  <mat-toolbar class="menu-bar">
    <span *ngFor="let item of items">
      <!-- Handle branch node buttons here -->
      <span *ngIf="item.children && item.children.length > 0">
        <button mat-button
          [matMenuTriggerFor]="menu.childMenu"
          [disabled]="item.disabled">
            {{item.displayName}}
          </button>
          <app-menu-item #menu [items]="item.children"></app-menu-item>
      </span>
      <!-- Leaf node buttons here -->
      <span *ngIf="!item.children || item.children.length === 0">
        <button mat-button color="primary">
          {{item.displayName}}
        </button>
      </span>
    </span>
  </mat-toolbar>
</div>

