<div class="container">
    <div class="flex-container my-card" fxLayout="row" fxLayoutGap="20px">
        <button type="button" class="btn btn-sm btn-primary"
                (click)="doGET()">GET</button>

        <button type="button" class="btn btn-sm btn-primary"
            (click)="doPOST()">POST</button> 

        <button type="button" class="btn btn-sm btn-primary"
            (click)="doPUT()">PUT</button>  

        <button type="button" class="btn btn-sm btn-primary"
            (click)="doDELETE()">DELETE</button>     
    </div>

    <div class="flex-container  my-card" fxLayout="row" fxLayoutGap="20px">
        <button type="button" class="btn btn-sm btn-primary"
            (click)="doGETAsPromise()">As Promise</button>

        <button type="button" class="btn btn-sm btn-primary"
            (click)="doGETAsPromiseError()">Error as Promise</button> 

        <button type="button" class="btn btn-sm btn-primary"
            (click)="doGETAsObservableError()">Error as Observable</button>     
    </div>

    <div class="flex-container  my-card" fxLayout="row" fxLayoutGap="20px">
        <button type="button" class="btn btn-sm btn-danger"
        (click)="doGETWithHeaders()">With Headers</button>
    </div>
</div>
